:root {
    --darkBlue: #202D3E;
    --blue: #1FA2F9;
    --lightBlue: #C1E1F8;
}

#bg-logo {
    width: 100%;  
    margin-right: 70px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--darkBlue);
}
#bio {
    padding: 10px;
    margin-top: -30px;
    text-align: justify;
}
.icons {
    color: var(--darkBlue);
    font-size: 40px;
    display: flex;
   justify-content: left;
  }
i {
    padding: 15px;
    text-decoration: none;
}
a {
    text-decoration: none;
}
section {
    padding: 10px;
}

.thumbnails {
    width: 95%;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1920px) { 
    body {
        padding: 10px;
        width: 50%;
        /* background-color: red; */
        margin: 0 auto;
    }
}
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) { }
 